.container {
  max-width: 1517px;
  margin:  0 auto;
  padding: 0 100px 0  100px !important;
}

.stat {
  width: 100%;
  border-radius: 30px;
  background: #012245;
  padding: 30px;
  margin: 80px 0;
  box-sizing: border-box;
}

.statcard {
  display: flex;

}

.statimg {
  width: 90px;
  height: 90px;
  flex-shrink: 0;
  fill: #FFF;
  background-color: #FFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stattext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}

.stattext h1 {
  color: #FFF;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 75% */
  margin-bottom: 9px !important;
}

.stattext p {
  color: #FFF;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px; /* 100% */
}

@media (max-width: 1024px) {
  .container {
    padding: 0 2rem !important;
  }
  .statcard {
    margin: 5px 0;
  }
  
}

@media (max-width: 628px) {
  .container {
    padding: 0 1.2rem !important;
  }
}